<div id="clientes" class="bg-gray-200">
	<div class="text-center">
		<h2 class="text-xl pt-5 px-1 uppercase">NUESTROS SERVICIOS</h2>
		<p class="px-1 md:px-20 pb-5 mx-auto md:w-3/4" > SerProLim se dedica a la limpieza de pozos ciegos y cámaras sépticas. Brindando estos servicios en el departamento de Santa Cruz con una fuerte orientación a la calidad y al asesoramiento de nuestros clientes.</p>
	</div>

    <div class="px-5 md:masonry-2-col lg:masonry-3-col mx-auto pb-5">

        {% for cli in clientes %}
            {% if cli.display %}
                {% if cli.imagen %}
                    <div class="break-inside mx-10 my-5 bg-white rounded-xl overflow-hidden shadow-lg hover:shadow-xl duration-500 transform transition">
                        <img class="object-contain w-full" src="{{ cli.imagen.url }}" alt="{{ cli.titulo }}">
                        <div class="p-5 text-center">
                            <h2 class="text-xl">{{ cli.titulo }}</h2>
                            <p class="mt-1 text-gray-500 font-">{{ cli.subtitulo }}</p>
                        </div>
                    </div>
                {% else %}
                    <div class="break-inside mx-10 my-5 bg-yellow-350 rounded-xl overflow-hidden shadow-lg hover:shadow-xl duration-500 transform transition">
                        <div class="p-5 text-center ">
                            <h2 class="text-xl pb-1">{{ cli.titulo }}</h2>
                            <hr>
                            <p class="text-lg mt-1">{{ cli.resumen }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        

        {% endfor %}

    </div>
</div>