<div id="preguntas" class="bg-gray-800 pb-5">
	<div class="text-center">
		<h2 class="text-xl pt-5 pb-3 px-1 text-white uppercase">PREGUNTAS FRECUENTES</h2>
	</div>
    {% for preguntas in faqs %}
    <div class="pb-1">
        <div class="mx-auto bg-yellow-350 w-10/12 lg:w-2/3 xl:w-1/2 border border-gray-200 divide-y divide-gray-900">
            <details>
                <summary class="text-base question py-3 px-4 cursor-pointer select-none w-full">{{ preguntas.pregunta}}</summary>
                <p class="text-sm pt-1 pb-3 px-4 bg-gray-50">{{ preguntas.respuesta}}</p>
            </details>
        </div>
    </div>
    {% endfor %}    

</div>