
@tailwind base;

@layer base {
    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
        @apply text-lg;
      }
    a {
      /* @apply text-blue-600 underline; */
    }
  }

@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth;
}
#cotiza, #clientes, #preguntas {
  scroll-margin-top: 1.6em;
}

@layer utilities {
  @variants responsive {
      .masonry-3-col {
          column-count: 3;
          column-gap: 0.1em;
      }
      .masonry-2-col {
          column-count: 2;
          column-gap: 0.1em;
      }
      .break-inside {
           break-inside: avoid;
      }
  }
}
/* 
.link {
    @apply py-4 px-3 hover:text-gray-800;
} */

/* @layer utilities {
    .text-shadow-black {
        text-shadow: 2px 2px 5px black;
    }
    .text-shadow-red {
        text-shadow: 2px 2px 5px red;
      }
    .errorlist li {
        text-align: center; 
        color: #dc2626;
    }
} */