<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="facebook-domain-verification" content="1s5fpfuqatl78l2lymsbelf8m888w4" />
    {% block head %}
    {% endblock head %} 
    
</head>
<body class="xl:container mx-auto bg-gray-900 min-h-full">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNJ4N9X" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
      <nav class="sticky top-0 shadow z-10 bg-yellow-350 flex justify-end md:justify-center items-center">      
        <a href="/" class="hidden absolute -left-3 pb-2 -pl-1 -top-1 rounded-br-lg bg-yellow-350 font-extrabold m-3 uppercase sm:inline-flex">
          <img src="{% static 'img/logo-texto.png' %}" alt="SERPROLIM" >
        </a>
        <a href="/" class="inline-flex sm:hidden absolute -left-1 -pl-1 bg-yellow-350 m-3 uppercase ">
          <h4>SERPROLIM </h4>
        </a>
        <div class="hidden absolute top-11 left-24 sm:block" style="height: 50px; overflow: hidden;" >
          <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 120%;">
            <path class="fill-current text-yellow-350"  d="M0.28,125.81 C36.39,-58.70 162.81,10.36 281.31,-19.23 L286.96,-0.48 L0.00,0.00 Z" >
            </path>      
          </svg>
        </div>
        <button id="mobileMenuButton" class="p-3 focus:outline-none md:hidden" title="Open side menu">
          <!-- SVG For "x" button -->
            <svg id="mobileMenuButtonClose" class="w-6 h-6 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
          <!-- SVG For "Menu burger" button -->
            <svg id="mobileMenuButtonOpen" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
      
      <!-- List of nav item -->
        <div id="sideMenuHideOnMobile" class="bg-yellow-350 font-semibold z-10 rounded-bl-md flex absolute md:relative top-0 right-0 transition-all duration-500 transform translate-x-0
                                              w-1/2 md:w-auto
                                              px-3 md:px-0
                                              flex-col md:flex-row
                                              -translate-y-full md:translate-y-0
                                              md:mt-1 md:items-center md:mx-1 md:uppercase">
            <a href="/#cotiza" class="mx-0 sm:mx-2 my-2 border-b-2 border-transparent hover:border-white hover:text-white transition-all duration-500 py-1 sm:p-0">
            Cotización
            </a>
            <a href="/#clientes" class="mx-0 sm:mx-2 my-2 border-b-2 border-transparent hover:border-white hover:text-white transition-all duration-500 py-1 sm:p-0">
            Servicios
            </a>
            <a href="/#preguntas" class="mx-0 sm:mx-2 my-2 border-b-2 border-transparent hover:border-white hover:text-white transition-all duration-500 py-1 sm:p-0">
            Preguntas
            </a>
            <a href="/blog" class="mx-0 sm:mx-2 my-2 border-b-2 border-transparent hover:border-white hover:text-white transition-all duration-500 py-1 sm:p-0">
            Blog
            </a>
            
        </div>
      </nav>
        <!--side menu -->

    {% block content %}
    {% endblock content %}
    
      <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
    {% block script %}
    {% endblock script %}

    {% include 'footer.html' %}
        
</body>
</html>