{% extends 'base.html' %}
{% load static %}
{% block header%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/floating-wpp.min.css' %}">
{% endblock header%}

{% block content%}

    <div id="whatsapp" class="z-10000 fixed bottom-12 left-1 sm:left-3 lg:left-10 xl:left-20 2xl:left-40"></div>
    <main>
            
        {% include 'template-parts/banner.html' %} 

        {% include 'template-parts/mapa-cotiza.html' %}

        {% include 'template-parts/clientes.html' %}

        {% include 'template-parts/faq.html' %}

    </main>

{% endblock content%}

{% block script %}
        <!--cotizar se carga mediante script -->
        <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/leaflet/leaflet.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/leaflet/Leaflet.Control.Custom.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/leaflet/Leaflet.AccuratePosition.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/mapa.js' %}" ></script>
        <script type="text/javascript" src="{% static 'js/floating-wpp.min.js' %}"></script>
        <script type="text/javascript">
            STATIC_FILES = {
                "COTIZAR": "{% static 'js/cotizar.js' %}",
            };
        </script>
        <script type="text/javascript">
          $(function () {
            $('#whatsapp').floatingWhatsApp({
            phone: '+59163439303',
            popupMessage: 'Hola, Como podemos ayuderle?',
            message: "Requiero el servicio de limpieza de pozos séptico",
            showPopup: false,
            showOnIE: false,
            size: 55,
            headerTitle: 'Comunicate por Whatsapp!',
                });
            });
        </script>
{% endblock script %}